@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Metal";
  src: url("../fonts/Metal-Reg-2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 3.125rem;
  font-family: "Inter";
  height: 4.375rem;
  background-color: #a5aaad;
  border-bottom: 1px solid #002532;
}

.header-promo {
  display: flex;
  align-items: center;
  gap: 1.8125rem;
}

.header-logo {
  width: 9.375rem;
}

.header-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 143%;
  color: #002532;
  letter-spacing: 0.03375rem;
}

.header-nav {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  text-transform: uppercase;
}

.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.5625rem;
  color: #ffffff;
}

.header-nav-item:not(:first-child) {
  border-left: 1px solid #002532;
}

.header-nav-link {
  color: #002532;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 166%;
  letter-spacing: 0.03375rem;
}

.header-nav-link:hover {
  font-weight: 300;
  color: #ffffff;
}

.lang-link {
  margin: 0 0.5rem 0 0.5rem;
  font-weight: 300;
  color: #ffffff;
}

.lang-link-active {
  color: #f4472b;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  cursor: pointer;
}

.burger-item {
  height: 4px;
  width: 30px;
  background-color: #002532;
}

.header {
  background-color: #a5aaad;
  padding: 0 1.875rem 1.875rem 1.875rem;
  border-bottom: 6px solid #f4472b;
}

.banner {
  background-image: url(../img/banner_image.png);
  background-repeat: no-repeat;
  height: 60.875rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.main-menu {
  position: absolute;
  left: 0;
  top: 0;
}

.main-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Metal";
  text-transform: uppercase;
}

.main-menu-item {
  padding-left: 1.125rem;
  height: 3.125rem;
  width: 46.875rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, #ffffff -0.47%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}

.main-menu-item:nth-last-child(-n + 2) {
  width: 40rem;
}

.main-menu-link {
  font-weight: 400;
  color: #ffffff;
  font-size: 3.125rem;
  letter-spacing: 0.09375rem;
}

.button-orange {
  background-color: #f4472b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.header-btn {
  font-family: "Metal";
  color: #ffffff;
  font-size: 3.125rem;
  letter-spacing: 0.09375rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.375rem;
  width: 36.3125rem;
  position: absolute;
  bottom: 1.6875rem;
  transition: background-color 0.2s ease-in-out;
}

.header-btn:hover {
  background-color: #f58332;
}

.header-socials-wrapper {
  position: absolute;
  bottom: 1.6875rem;
  right: 1.25rem;
}

.header-socials {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header-socials-item {
  display: flex;
  align-items: last baseline;
}

.header-social-icon {
  fill: #ffffff;
  transition: fill 0.2s ease-in-out;
}

.header-social-link:hover .header-social-icon {
  fill: #f4472b;
}

.custom-tours {
  margin-top: 6rem;
}

.container {
  max-width: 73.75rem;
  margin: auto;
}

.section-header {
  display: flex;
}

.section-title {
  text-transform: uppercase;
  font-family: "Metal";
  font-weight: 400;
  font-size: 5.9375rem;
  line-height: 68%;
}

.red-title {
  color: #f4472b;
}

.custom-tours-title {
  max-width: 55.25rem;
}

.countries-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.countries-list-item {
  display: flex;
  justify-content: center;
  padding-left: 9.0625rem;
  padding-bottom: 0.75rem;
  padding-top: 1.4375rem;
  min-width: 23.75rem;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(-90deg, #002532 0%, rgba(0, 37, 50, 0) 100%);
  border-image-slice: 1;
  cursor: pointer;
}

.countries-list-item:first-child {
  padding-top: 0.9375rem;
  border-top: 1px solid transparent;
  border-image: linear-gradient(-90deg, #002532 0%, rgba(0, 37, 50, 0) 100%);
  border-image-slice: 1;
}

.countries-link {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.125rem;
  color: #002532;
  line-height: 60%;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.countries-list-item:hover .countries-link {
  color: #f4472b;
}

.countries-image {
  margin-top: 3.75rem;
  margin-bottom: 0.625rem;
  width: 100%;
  object-fit: cover;
}

.custom-tours .noise-block {
  margin-left: auto;
}

.noise-block {
  height: 6.875rem;
  width: 600px;
  background-color: #d9dcde;
  background-image: url(../img/noise.png);
  background-size: cover;
  background-repeat: repeat;
}

.red-square {
  height: 10px;
  width: 10px;
  background-color: #f4472b;
}

.separator {
  width: 100%;
  height: 7.5rem;
  background-color: #a5aaad;
  background-image: url(../img/noise.png);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 80% 75%, 50% 45%, 20% 75%, 0 100%, 0 0, 20% 0);
}

.grey-rec {
  width: 100%;
  height: 10px;
  background-color: #a5aaad;
  margin: auto;
}

.cars {
  margin-top: 4.0625rem;
}

.cars-title {
  max-width: 36.1875rem;
}

.cars-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 37% 52%;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  column-gap: 1.6875rem;
  width: 37.3125rem;
  padding-left: 4rem;
}

.cars-item {
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  display: flex;
  justify-content: flex-start;
}

.cars-item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.cars-item:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.cars-item:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}

.cars-item:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}
.cars-item:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}
.cars-item:nth-child(6) {
  grid-column: 2;
  grid-row: 3;
}

.cars-item:nth-last-child(-n + 3) {
  position: relative;
}

.cars-item:nth-last-child(-n + 3)::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 36.25rem;
  background-image: linear-gradient(-90deg, #002532 0%, rgba(0, 37, 50, 0) 100%);
}

.cars-link {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 60%;
  letter-spacing: 0.125rem;
  color: #002532;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.cars-item:hover .cars-link {
  color: #f4472b;
}

.cars-image {
  object-fit: cover;
  margin-top: 3.5rem;
  width: 100%;
}

.cars .red-square {
  margin-left: auto;
}

.travel {
  margin-top: 7.75rem;
  position: relative;
}

.travel-header {
  position: relative;
}

.travel-title {
  z-index: 10;
}
.travel-description {
  position: absolute;
  right: 0;
  top: -3.1875rem;
  max-width: 36.25rem;
  height: 22.9375rem;
  padding-top: 3.1875rem;
  padding-left: 1rem;
  padding-bottom: 1.375rem;
  padding-right: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 9rem;
  background-color: #ffffff;
}

.travel-description::before {
  content: "";
  position: absolute;
  top: 0;
  right: 6px;
  height: 6px;
  width: 9.6875rem;
  background-color: #f4472b;
}

.travel-description::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  width: 6px;
  height: 21.0625rem;
  background-color: #f4472b;
}

.travel-socials {
  display: flex;
  margin-left: auto;
  gap: 0.5rem;
  z-index: 20;
}

.travel-socials .red-square {
  display: none;
}

.travel-social-icon {
  fill: #002532;
  transition: fill 0.2s ease-in-out;
}

.travel-socials-link:hover .travel-social-icon {
  fill: #f4472b;
}
.travel-description-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 133%;
  color: #002532;
  margin: 0;
}

.travel-image {
  object-fit: cover;
  width: 100%;
  max-height: 51.875rem;
  margin-top: 3.25rem;
}

.reviews {
  position: relative;
  z-index: 10;
  margin-top: -145px;
  margin-bottom: 95px;
}

.reviews-wrapper {
  background-color: #d9dcde;
  padding-top: 1.3125rem;
  padding-bottom: 1.75rem;
  height: 31.8125rem;
  display: flex;
  overflow: hidden;
  position: relative;
}

.reviews-line {
  margin: auto;
  height: 6px;
  max-width: 98%;
  background: linear-gradient(0deg, #295b74, #295b74), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.review {
  position: relative;
  padding-left: 1.5625rem;
  flex: 0 0 20.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 3.125rem;
}

.review::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 26rem;
  background-image: linear-gradient(to bottom, #ffffff -0.84%, rgba(255, 255, 255, 0) 100%);
}

.review-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 133%;
  color: #002532;
  margin: 0;
}

.review-autor-avatar {
  width: 4.0625rem;
  height: 4.0625rem;
  border: 1px solid #f58332;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 60%;
  color: #ffffff;
  margin-bottom: 10px;
}
.review-autor-name {
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 133%;
  color: #002532;
}

.iteneraries {
  z-index: 10;
  position: relative;
}

.iteneraries-wrapper {
  position: relative;
  margin-top: 1.6875rem;
}
.iteneraries-description {
  position: absolute;
  top: -6px;
  max-width: 30.1875rem;
  height: 11.875rem;
  background-color: #ffffff;
  padding-left: 1.5625rem;
  padding-right: 3.625rem;
  padding-bottom: 1.6875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iteneraries-description::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 6px;
  height: 11.5rem;
  background-color: #f4472b;
}

.iteneraries-description::after {
  content: "";
  position: absolute;
  left: 6px;
  bottom: 0;
  width: 26.125rem;
  height: 6px;
  background-color: #f4472b;
}

.iteneraries-description .red-square {
  position: absolute;
  bottom: 6px;
  left: 26.5rem;
  height: 6px;
  width: 6px;
}

.iteneraries-description-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 133%;
  color: #002532;
  margin: 0;
}
.iteneraries-description-link {
  font-family: "Metal";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 60%;
  color: #f4472b;
}
.iteneraries-image {
  object-fit: cover;
  width: 100%;
}

.iteneraries-button {
  display: none;
  height: 50px;
  font-family: "Metal";
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.9px;
  color: #ffffff;
  width: 398px;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}

.footer-main {
  margin-top: -16.4375rem;
  z-index: -10;
}

.footer-separator {
  width: 100%;
  height: 24.0625rem;
  background-color: #d9dcde;
  background-image: url(../img/noise.png);
  clip-path: polygon(50% 13%, 70% 11%, 85% 7%, 100% 0, 100% 100%, 0 100%, 0 0, 15% 7%, 30% 11%);
  z-index: -10;
}

.footer-title {
  margin: 0;
  font-family: "Inter";
  font-weight: 100;
  font-size: 5.8125rem;
  color: #a5aaad;
  letter-spacing: 3.8944rem;
  text-align: center;
  text-transform: uppercase;
}

.footer-bottom {
  height: 8.75rem;
  background-color: #a5aaad;
  border-bottom: 10px solid #f4472b;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  margin-right: 1.4375rem;
}

.footer-stores-wrapper {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.footer-market-icon {
  height: 29px;
  width: 99px;
}

.footer-logos-wrapper {
  display: flex;
  align-items: center;
}

.porsche-icon {
  width: 144px;
  height: 10px;
}

.audi-icon {
  width: 39px;
  height: 24px;
}

.bmw-icon {
  width: 30px;
  height: 30px;
}

.alfa-romeo-icon {
  width: 30px;
  height: 30px;
}

.alpine-icon {
  width: 109px;
  height: 10px;
}

.footer-logos-text {
  text-transform: uppercase;
  font-family: "Inter";
  font-size: 1rem;
  line-height: 100%;
  color: #ffffff;
  font-weight: 300;
  position: relative;
  margin-right: 3.125rem;
}

.footer-logos-text::after {
  content: "";
  width: 1px;
  height: 2.5rem;
  background-color: #ffffff;
  position: absolute;
  right: -24px;
  top: -12px;
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.footer-socials-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-date {
  font-family: "Inter";
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 120%;
  color: #002532;
}

@media (max-width: 1865px) {
  .footer-title {
    letter-spacing: 2.8944rem;
  }
}

@media (max-width: 1600px) {
  .footer-title {
    letter-spacing: 1.8944rem;
  }
}

@media (max-width: 1360px) {
  html {
    font-size: 15px;
  }

  .banner {
    background-position-x: 15%;
  }

  .header-btn {
    width: 26rem;
    height: 3.5rem;
    font-size: 2.3rem;
  }

  .header-social-icon {
    height: 4.2rem;
    width: 3.7rem;
  }

  .footer-bottom {
    flex-wrap: wrap;
  }

  .footer-title {
    font-size: 3.8125rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 62rem;
  }

  .section-title {
    font-size: 5rem;
  }

  .cars-title {
    max-width: 29.1875rem;
  }

  .cars-list {
    column-gap: 1rem;
    padding-left: 1.3rem;
  }

  .cars-item:nth-last-child(-n + 3)::after {
    width: 31.25rem;
  }

  .cars-link {
    font-size: 2.2rem;
  }

  .travel-description {
    gap: 8rem;
    height: 21.9375rem;
  }
}

@media (max-width: 976px) {
  html {
    font-size: 12px;
  }

  .header-logo {
    width: 8.5rem;
  }

  .header-nav-item {
    width: 9rem;
  }

  .banner {
    background-position-y: 35%;
  }

  .main-menu-link {
    font-size: 2.3rem;
  }

  .header-socials-wrapper {
    display: none;
  }
}

@media (max-width: 840px) {
  .footer-socials {
    display: none;
  }

  .footer-title {
    font-size: 40px;
  }
}

@media (max-width: 756px) {
  .header-title {
    display: none;
  }

  .main-menu-item {
    width: 40rem;
  }

  .main-menu-link {
    font-size: 2.125rem;
  }

  .banner {
    background-size: cover;
  }

  .container {
    max-width: 100%;
  }

  .custom-tours {
    margin-top: 40px;
  }

  .countries-header {
    position: relative;
    margin-left: 15px;
  }

  .countries-image {
    margin-top: 30px;
    margin-bottom: 0;
    vertical-align: bottom;
  }

  .countries-list {
    position: absolute;
    top: 123%;
    left: -15px;
    background-color: #ffffff;
  }

  .countries-list-item {
    justify-content: flex-start;
    padding-left: 15px;
    border-bottom: none;
    border-top: 1px solid transparent;
    border-image: linear-gradient(90deg, #002532 0%, rgba(0, 37, 50, 0) 100%);
    border-image-slice: 1;
    min-width: 210px;
  }

  .countries-list-item:first-child {
    border-top: 1px solid transparent;
    border-image: linear-gradient(90deg, #002532 0%, rgba(0, 37, 50, 0) 100%);
    border-image-slice: 1;
  }

  .countries-link {
    font-size: 22px;
  }

  .red-square {
    display: none;
  }

  .noise-block {
    height: 10px;
    width: 100%;
  }

  .grey-rec {
    display: none;
  }

  .separator {
    height: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .cars-header {
    position: relative;
  }

  .cars-title {
    z-index: 10;
    margin-left: 14px;
  }

  .cars-list {
    width: 209px;
    height: 272px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #ffffff;
    padding-left: 36px;
    padding-right: 16px;
  }

  .cars-item {
    max-width: 157px;
    border-top: 1px solid transparent;
    border-image-source: linear-gradient(-90deg, #002532 0%, rgba(0, 37, 50, 0) 100%);
    border-image-slice: 1;
    padding-top: 8px;
    padding-bottom: 16px;
  }

  .cars-link {
    font-size: 22px;
    line-height: 91%;
  }

  .cars-item:nth-last-child(-n + 3)::after {
    width: 0;
  }

  .travel {
    position: relative;
    margin-top: 50px;
  }

  .travel-title {
    font-size: 4.5rem;
  }

  .travel-description {
    padding: 0px 30px 0px 15px;
    top: 112px;
    left: 0;
    height: 94px;
    gap: 0;
  }

  .travel-description::before {
    width: 100px;
    top: -10px;
  }

  .travel-description::after {
    height: 40px;
    top: -4px;
  }

  .travel-description-text {
    font-size: 14px;
  }

  .travel-image {
    height: 350px;
  }

  .travel-socials {
    position: absolute;
    padding-top: 10px;
    bottom: -257px;
    left: 15px;
    height: 50px;
    width: 193px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    background-color: #ffffff;
  }

  .travel-socials .red-square {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 6px;
  }

  .travel-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .travel-social-icon {
    height: 33px;
    width: 33px;
  }

  .reviews {
    margin-top: -3px;
  }

  .iteneraries-title {
    margin-left: 18px;
  }

  .iteneraries-description-link {
    display: none;
  }

  .iteneraries-description {
    height: auto;
  }

  .iteneraries-description::before {
    height: 7.5rem;
  }

  .iteneraries-button {
    display: flex;
  }

  .footer-separator {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 20px;
  }

  .footer-main {
    margin-top: 30px;
    row-gap: 10px;
  }

  .footer-bottom {
    padding: 20px 48px;
    height: auto;
  }

  .footer-title {
    margin-top: 16px;
    margin-bottom: 15px;
    font-size: 25px;
    letter-spacing: 13.4px;
  }

  .footer-logos-text {
    margin-right: 10px;
  }

  .footer-logos-text::after {
    display: none;
  }

  .footer-logos {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 10px;
  }

  .navbar {
    padding-right: 16px;
    position: relative;
    border-top: 5px solid #f4472b;
    height: 70px;
    z-index: 10;
  }

  .header-promo {
    margin: auto;
  }

  .header-logo {
    width: 140px;
  }

  .lang-links {
    position: absolute;
    left: 0;
    top: -80%;
  }

  .about-us {
    display: none;
  }

  .header-nav {
    position: absolute;
    top: 100%;
    left: 0;
    height: auto;
    width: 100%;
  }

  .header-nav-item:not(.lang-links) {
    height: 51px;
    border-bottom: 1px solid #002532;
    border-left: none;
    width: 50%;
  }

  .header-nav-item:not(.lang-links):not(:last-child) {
    border-right: 1px solid #002532;
  }

  .lang-links {
    height: 20px;
    font-size: 14px;
  }

  .lang-link-active {
    color: #ffffff;
  }

  .header-nav-link {
    font-size: 20px;
  }

  .burger {
    display: flex;
    position: absolute;
    right: 16px;
    top: 22px;
  }

  .header {
    padding: 0 0 10px 0;
    height: 832px;
    z-index: -2;
    border-bottom: 10px solid #f4472b;
  }

  .banner {
    height: 100%;
    background-size: cover;
  }

  .main-menu {
    display: none;
  }

  .header-btn {
    width: 398px;
    height: 50px;
    font-size: 30px;
    letter-spacing: 0.9px;
  }

  .header-title {
    font-size: 40px;
    line-height: 75%;
  }

  .countries-image {
    height: 400px;
    width: 100%;
  }

  .cars-title {
    font-size: 40px;
    max-width: 243px;
  }

  .cars-image {
    margin-top: 24px;
    height: 400px;
  }

  .travel-title {
    font-size: 40px;
    line-height: 75%;
    margin-left: 13px;
  }

  .travel-image {
    margin-top: 28px;
  }

  .travel-description {
    top: 84px;
    padding-right: 15px;
    height: 112px;
  }

  .travel-socials {
    bottom: -242px;
  }

  .reviews-wrapper {
    height: 306px;
    padding-bottom: 15px;
  }

  .review {
    width: auto;
    padding-right: 30px;
    padding-left: 15px;
    flex: 0 0 auto;
  }

  .review-text {
    font-size: 14px;
    max-width: 250px;
  }

  .review-autor-avatar {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .review-autor-name {
    font-size: 14px;
  }

  .reviews-line {
    max-width: 95%;
  }

  .iteneraries {
    position: relative;
  }

  .iteneraries-title {
    max-width: 318px;
    font-size: 40px;
    line-height: 75%;
  }

  .iteneraries-description {
    padding-bottom: 30px;
  }

  .iteneraries::before {
    content: "";
    width: 40px;
    height: 6px;
    position: absolute;
    right: 22px;
    top: 12px;
    background-color: #f4472b;
  }

  .iteneraries::after {
    content: "";
    height: 100px;
    width: 6px;
    position: absolute;
    right: 16px;
    top: 18px;
    background-color: #f4472b;
  }

  .iteneraries-wrapper {
    margin-top: 33px;
    height: 400px;
  }

  .iteneraries-image {
    height: 100%;
  }

  .iteneraries-description {
    max-width: 209px;
    padding-right: 0;
    padding-left: 15px;
    height: auto;
  }

  .iteneraries-description::before {
    display: none;
  }

  .iteneraries-description::after {
    display: none;
  }

  .iteneraries-description-text {
    font-size: 14px;
  }

  .footer-main {
    margin-top: 100px;
  }

  .footer-bottom {
    justify-content: space-between;
  }

  .footer-stores-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    gap: 52px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .footer-stores {
    display: flex;
    gap: 30px;
  }

  .footer-market-icon {
    height: 43px;
    width: 152px;
  }

  .footer-logos-wrapper {
    flex-direction: column;
    margin-top: 46px;
    width: 100%;
    gap: 20px;
  }

  .footer-logo {
    width: 178px;
    height: 38px;
    margin: 0;
  }

  .footer-logos-text {
    font-size: 16px;
    margin: 0;
  }

  .porsche-icon {
    width: 144px;
    height: 10px;
  }

  .alpine-icon {
    width: 139px;
    height: 12px;
  }

  .bmw-icon {
    width: 50px;
    height: 50px;
  }

  .alfa-romeo-icon {
    width: 48px;
    height: 48px;
  }

  .audi-icon {
    width: 69px;
    height: 40px;
  }

  .footer-logos {
    position: relative;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 82px;
  }

  .porsche {
    position: absolute;
    left: 0;
    top: 0;
  }

  .alpine {
    position: absolute;
    right: 0;
    top: 0;
  }

  .bmw {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .audi {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .alfa-romeo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-socials-wrapper {
    width: 100%;
    justify-content: center;
  }

  .footer-date {
    font-size: 20px;
  }
}
